/**
 * 弹窗样式，封装的layer的弹窗
**/
body .layer-dialog .layui-layer-title{
  border-radius: 4px 4px 0px 0px;
  border:1px solid #01000000;
}

body .layer-dialog .layui-layer-setwin {color: #ffffff}

body .layer-dialog {
  border-radius: 4px;
  border:1px solid #01000000;
}

body .layer-dialog .layui-layer-content {
  padding: 25px;
}

body .layer-dialog.layui-layer-iframe .layui-layer-content {
  padding: 0px!important;
}


/**
 * 全屏弹窗样式
 */
 body .fullscreen-dialog {
  border-radius: 0px;
  border: none;
  background-color: #F8F8F8;
}

body .fullscreen-dialog .layui-layer-title {
  display: none;
}

body .fullscreen-dialog .layui-layer-setwin {
  display: none;
}

body .fullscreen-dialog .layui-layer-content {
  padding: 0px;
  height: 100vh!important;
}