<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeforms.common.flow.dao.FlowTransProducerMapper">
    <resultMap id="BaseResultMap" type="com.orangeforms.common.flow.model.FlowTransProducer">
        <id column="trans_id" jdbcType="BIGINT" property="transId"/>
        <result column="app_code" jdbcType="VARCHAR" property="appCode"/>
        <result column="dblink_id" jdbcType="BIGINT" property="dblinkId"/>
        <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId"/>
        <result column="execution_id" jdbcType="VARCHAR" property="executionId"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="task_key" jdbcType="VARCHAR" property="taskKey"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="task_comment" jdbcType="VARCHAR" property="taskComment"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="init_method" jdbcType="VARCHAR" property="initMethod"/>
        <result column="trace_id" jdbcType="VARCHAR" property="traceId"/>
        <result column="sql_data" jdbcType="LONGVARCHAR" property="sqlData"/>
        <result column="auto_task_config" jdbcType="LONGVARCHAR" property="autoTaskConfig"/>
        <result column="try_times" jdbcType="INTEGER" property="tryTimes"/>
        <result column="error_reason" jdbcType="LONGVARCHAR" property="errorReason"/>
        <result column="create_login_name" jdbcType="VARCHAR" property="createUsername"/>
        <result column="create_username" jdbcType="VARCHAR" property="createLoginName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>
