<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeforms.common.flow.dao.FlowDblinkMapper">
    <resultMap id="BaseResultMap" type="com.orangeforms.common.flow.model.FlowDblink">
        <id column="dblink_id" jdbcType="BIGINT" property="dblinkId"/>
        <result column="app_code" jdbcType="VARCHAR" property="appCode"/>
        <result column="dblink_name" jdbcType="VARCHAR" property="dblinkName"/>
        <result column="dblink_description" jdbcType="VARCHAR" property="dblinkDescription"/>
        <result column="configuration" jdbcType="VARCHAR" property="configuration"/>
        <result column="dblink_type" jdbcType="INTEGER" property="dblinkType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
    </resultMap>

    <!-- 如果有逻辑删除字段过滤，请写到这里 -->
    <sql id="filterRef">
        <!-- 这里必须加上全包名，否则当filterRef被其他Mapper.xml包含引用的时候，就会调用Mapper.xml中的该SQL片段 -->
        <include refid="com.orangeforms.common.flow.dao.FlowDblinkMapper.inputFilterRef"/>
    </sql>

    <!-- 这里仅包含调用接口输入的主表过滤条件 -->
    <sql id="inputFilterRef">
        <if test="flowDblinkFilter != null">
            <if test="flowDblinkFilter.appCode == null">
                AND zz_flow_dblink.app_code IS NULL
            </if>
            <if test="flowDblinkFilter.appCode != null">
                AND zz_flow_dblink.app_code = #{flowDblinkFilter.appCode}
            </if>
            <if test="flowDblinkFilter.dblinkType != null">
                AND zz_flow_dblink.dblink_type = #{flowDblinkFilter.dblinkType}
            </if>
        </if>
    </sql>

    <select id="getFlowDblinkList" resultMap="BaseResultMap" parameterType="com.orangeforms.common.flow.model.FlowDblink">
        SELECT * FROM zz_flow_dblink
        <where>
            <include refid="filterRef"/>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
    </select>
</mapper>
